@if (TempData["success"] != null)
{
	<p class="notification"><i style="padding-right : 5px" class="fa-solid fa-check fa-lg"></i>@TempData["success"]</p>
	
}
@if (TempData["error"] != null)
{
	<p class="notification" style="background-color:darkred;">@TempData["error"]</p>
}
<script src="~/js/Index_notification.js"></script>