@model Category
<section class="Upsert">
	<div class="container">
		<div class="Box">
			<h1>@(Model.Id != 0 ? "Update" : "Create") Category</h1>
			<form method="post" enctype="multipart/form-data">
				<input asp-for="Id" hidden />
				<div>
					<label asp-for="CategoryName"></label>
					<input asp-for="CategoryName" placeholder="Name of the Category" />
					<span asp-validation-for="CategoryName"></span>
				</div>

				<div>
					<label asp-for="Description"></label>
					<textarea asp-for="Description"></textarea>
					<span asp-validation-for="Description"></span>
				</div>
				<div class="btns">
					@if (Model.Id != 0)
					{
						<button type="submit">Update</button>
					}
					else
					{
						<button type="submit">Create</button>
					}
					<a asp-controller="Category" asp-action="Index">Back To List</a>
				</div>
			</form>
		</div>
	</div>
</section>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}