.Box #register .all{
    display: flex;
    justify-content: space-between;
}
.Box #register .all > div{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .Box #register .all{
        flex-direction: column;
    }
    .Box #register .all > div{
        width: 100%;
    }
}
.Box #register .all div div{
    margin-bottom: 15px;
}
.Box #register .regBtn button{
    width: 100%;
    margin-top: 20px;
    padding-block: 7px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    transform: var(--main-transition);
}
.Box #register .regBtn button:hover{
    opacity: 0.7;
}